.profile {
  background-color: white;
  border-radius: 6px;
  width: 100%;
  display: inline-block;
}
.profile_name {
  line-height: 18px;
  padding: 20px;
}
.profile_name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}
.profile_name .title {
  font-size: 13px;
  color: #777;
}
.profile_image {
  margin-top: -10px;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}
.profile_image img {
  width: 100%;
}
